:root {
    --cor-primaria: cornflowerblue;
    --texto-branco: white;
    --borda-padrao: 3px solid black;
    --borda-arredondada: 20px;
    --sombra-texto: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .carrossel-container {
    position: relative;
    width: 60vw;
    height: 69vh;
    overflow: hidden;
    justify-self: center;
    border: 3px solid black;
    border-radius: 20px;
    
}
.carrossel {
    display: flex;
    height: 70vh;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-size: cover;
    background-position: center;
}
.indicadores {
    position: absolute;
    display: flex;
    justify-self: anchor-center;
    gap: 10px;
    margin-top: -5vh;
}
.indicador {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s;
}
.indicador.ativo {
    background-color: cornflowerblue;
}
  
  /* Layout Base */
  body {
    margin: 0;
    background: url(imgs/fundo.jpg) center/cover fixed;
    font-family: sans-serif;
  }
  a{
    text-decoration: none;
    color: var(--cor-primaria);
  }
  
  .header {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .menu {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  #online {
    display: none;
  }
  
  .perfil_hover {
    display: flex;
    cursor: pointer;
    width: 10vw;
    justify-content: center;
    align-items: center;
  }

  .perfil_hover img {
    width: 5vw;
    filter: invert(1);
  }

  .menu_hover {
    display: none;
    position: absolute;
    width: 10vw;
    height: 10vh;
    margin-top: 23vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    border: var(--borda-padrao);
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
  }
  
  .perfil_hover:hover .menu_hover {
    display: flex;
  }
  
  .logo {
    height: 10vw;
  }
  
  .footer {
    text-align: center;
    color: var(--texto-branco);
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .carrossel-container {
      width: 90vw;
      height: 50vh;
    }
    
    .menu {
      gap: 10px;
    }
  }